@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&family=Poppins');

/* 2274a5,e7dfc6,e9f1f7,131b23,816c61 */
:root {
  --dark-blue: #131b23;
  --light: #E0E0CE;
  --medium: #474747;
  --dark: black;
  --accent:#AD343E;
  --honey: #F2AF29;
  --shadow: #00000020;
  margin: 20px
}
html {
  background-color: #f0f0f0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--dark-blue);
  margin: 0px;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
}
code {
  font-family: 'Roboto Mono', monospace;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 content;
  flex-wrap: wrap;
} 

.code-container {
  background-color: var(--medium);
  color: var(--light);
  padding: 0;
  border-radius: 6px;
  flex: 0 0 content;
}

.example-container {
  background-color: var(--light);
  color: var(--dark);
  padding: 0px;
  border-radius: 6px;
  flex: 0 0 content;
}

.badge {
  background-color: var(--accent);
  color: var(--light);
  font-size: 10px;
  width: fit-content;
  display: block;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin: 0px 0px 15px 0px;
}

.cont-pad {
  padding: 30px;
  margin:0px 20px 20px 20px;
}

.shadow {
  /* box-shadow: 1px 4px 10px var(--shadow) ; */

}

.inverted {
  color: var(--light) ;
  background-color: var(--dark);
  padding: 5px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 0 0 content;

}
.card {
  flex: 0 1 content;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--light);
  border-radius: 5px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
} 

.flex-text {
  flex: 0 0 content;
  padding:0px 20px 0px 20px;
}

.flex-bigger-off {
  flex: 0 0 content;
}